body{
    background-color: #f6e4d4;
    margin: 0px;
}

.adlam-display-regular {
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
}


header{
    display: flex;
    justify-content:left;
    align-items: center;
    margin-top: 0px;
    padding: 4px 100px 4px 100px;
    font-weight: 500;
    font-size: 18px;
    background-color: #7b1e2d;
    color: #f6e4d4;
}

.headerLinks a{
    text-decoration: none;
    padding: 24px;
    color: #f6e4d4;
    max-width: 60%;
}
.my_name{
    /* padding-right: 100px; */
    width: 40%;
}

/* .contact{
    background: #f6e4d4;
    border-radius: 12px;
    
} */

.nav_body{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0px 100px 0px 100px;
}

.my_image{
    padding-top: 60px;
    align-items: baseline;
    width: 40%;
    /* padding-right: 130px; */
}

.image{
    max-width: 80%;
    border: rounded;
}

.description{
    width: 60%;
    padding-left: 50px;
    font-size: 20px;
    color: #626060;
    font-size: 18px;
}

.bold_name{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 0px;
    color: #7b1e2d;
}

/* About me  section*/
.about_me{
    display: flex; 
    justify-content: center; 
    margin-top: 100px;
}

.skill{
   padding-left: 100px;
   color: #7b1e2d;
   border-bottom: 2px solid #7b1e2d;
   margin-bottom: 20px;
}

/* projects */

.skills {
    /* padding: 30px 40px; */
    border-radius: 12px;
    max-width: 700px;
    width: 100%;
} 

.project_heading{
    /* padding-left: 100px; */
    color: #7b1e2d;
    border-bottom: 2px solid #7b1e2d;
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center;
}

/* Adjust text and spacing */
.project_des {
    text-align: center;
    margin-bottom: 25px;
    color: #252525;
    font-size: 17px;
    line-height: 1.6;
    width: 100%;
}

/* Make project links clean and aligned */
ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

ul li {
    margin-bottom: 15px;
}

a.projects {
    text-decoration: none;
    color: #7b1e2d;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

a.projects:hover {
    color: #a53c4e;
}


/* education */
.education{
    padding-left: 60px;
    color: #7b1e2d;
    border-bottom: 2px solid #7b1e2d;
    margin-bottom: 20px;
}

.edu_link{
    text-decoration: none;
    color: black;
}

a.edu_link:hover{
    color:#a53c4e;
}